body {
  background-color: #28479c;
}

h1 {
  color: white;
  text-align: center;
}
label {
	color: white;
}

p {
	color: white;
  font-family: verdana;
  font-size: 12px;
}

.card{
	
  border: 5px outset blue;
  background-color: black;
  text-align: center;
    margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: 125px;
  width: 30%;
  display: inline-block;
}

.c{
	    margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 80%;
}
.singleCard {
	
  border: 5px outset blue;
  background-color: lightblue;
  text-align: center;
    margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: 60%;
  width: 80%;
  display: inline-block;
}

#info {
	 border: 5px outset black;
width: 70%;}

#backButtondiv{
	border-style:none;
	width: 90%;
	 margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: 50px;
}

#backCard{
	background-color: 0d1b42;
	height: 100%;
	width: 35%;
	border-color: 0d1b42;
border-style: solid;
	  border-radius: 12px;
	  
}

#BackText {
	color:white;
	 text-align: center;
	 font-size: 15px;
	
}

#header {  text-align: left;
    margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  height: 100%;
  width: 100%;
}
.headerButtons {

	  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding:  1px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
cursor: pointer;
float: left;}

.headForm{
width: 10%;}

div{
	 
	 border: 2px outset black;
	overflow:hidden;
	
}
body { 
  margin: 0;
}

.cardInfo, .ImgDiv{
	 margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
	  display: inline-block;
height:100%;
vertical-align: middle;
float: center;
}
.cardInfo { 
width: 50%;


}

#header{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:0px;
  margin-left: 0px;
   border: 0px outset black;
background-color: 2f3538;
height: 45px;

}

.header h2 {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 

  border-radius: 4px;
}

.ImgDiv { 
width: 35%;
margin: 0;
position: relative;
text-align:center;
}

.singleCardLore{
	text-align: left;
	 font-size: 14px;
}

img {
	border: 3px outset green;
	width: 50%;
	height: auto;
	 position: absolute;
	 top: 50%;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	
	}
	
#itemCardinfo{
  font-family: verdana;
  font-size:11px;
  color: white;
  float: center;
}
